/*
Title: Site.css
Author: Laurel Condon
Date: 23 June 2023
Description: Site styles for Personal Portfolio
*/

 /* Header Styles */
.nav-header {
    width:100%;
    height: 350px;
    background-color: white;
    margin: auto;
 }
 .nav-header img {
 display: block;
 margin:auto;
 width: 80%
 }
#navBar li ul {
  width:100%;
 margin-bottom: 60px;
  text-align: center;
  border-radius: 10px;
}
#navBar li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-display: none;
}
#navBar li a {
    padding: 5px 10px;
    background-color: #477DFF;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
#navBar a:active {
    background-color: #3BDAFF;
}

ul {
    list-style-type: none;
    text-align: center;
  
}

/* Body Style */
body {
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

h2 {
    font-size: 50px;
}
h1 {
  padding-top:20px;
}

h4 {
  color:#ff7354;
  font-size: 20px;

}

#container {
  background-color: white;
  width:90%;
  margin:auto;
  padding: 50px;
}
/* Div Style */
.wrapper {
  margin:auto;
    list-style-type: none;
}

/* Bucket List Style */
.bucket {
    border: 3px solid  #FFBE21;
    border-radius: .2in;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size:larger
   
}
.bucketList {
    list-style-type: none;
    line-height: 2;
    text-align: left;
    font-style: italic;
    padding:10px
}
/* Footer Style */
#footer {
   text-align: center;
   color: #477DFF;
}

#footerLinks a {
    color: #ff7354;
    text-decoration: none;
}

/* About Page Image Style */
.photo-container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 600px;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
    
/* Projects Page Styles */
#grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 20px;
}

.grid-item {
    border: 2px solid #FFBE21;
    padding: 20px;
    margin: 10px;
    border-radius: .25in;
}

video {
  border: 2px solid #FFBE21;
  text-align:center;
  padding: 10px;
 
}

.diagrams
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background:  #ff7354;;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: auto;
  height: 300px;
  padding-left: 60px
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color:  #ff7354;;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
  font-size: smaller;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background:  #ff7354;;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold .resume_download {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color:  #ff7354;;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid  #ff7354;;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background:  #ff7354;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid  #ff7354;;
  border-radius: 50%;
  position: relative;
  color:  #ff7354;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background:  #ff7354;;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

.diagrams {
width: 300px;
 border: solid 3px #FFBE21;
 margin: 20px;
 padding: 10px;
 border-radius: .2in;
}

button {
padding: 5px 10px;
background-color: #477DFF;
border-radius: 10px;
text-decoration: none;
color: white;
margin: 10px;

}

